li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img{
    object-fit: contain;
}

h1, h2, p{
  vertical-align: middle;
}

// 字型
// FakePearl
@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff)
      format("woff");
}

// 按鈕
.btn-main {
  display: block;
  width: 220px;
  position: relative;
  z-index: 1;

  &-body {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 32px 0;
    background: linear-gradient(
      90deg,
      rgba(253, 137, 0, 1) 0%,
      rgba(255, 157, 43, 1) 100%
    );

    transition: transform 0.5s;

    &:hover {
      transform: translate(12px, 12px);
      background: linear-gradient(
        90deg,
        rgba(253, 137, 0, 1) 100%,
        rgba(255, 157, 43, 1) 0%
      );
    }
  }

  &-outline {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -12px;
    bottom: -12px;
    border: 3px solid $white;
    z-index: -1;
  }

  p {
    font-size: 20px;
    color: $white;
  }
}


// 上下緣梯形
.trape {
  &-top-right {
    position: relative;
    height: 40px;
    margin-left: auto;

    &:after {
      position: absolute;
      content: "";
      left: -39.5px;
      top: 0;
      width: 0;
      height: 0;
      border-bottom: 40px solid $primary;
      border-left: 40px solid transparent;
    }

    @media screen and (min-width: 576px) {
      height: 80px;
  
      &:after {
        left: -79.5px;
        border-bottom: 80px solid $primary;
        border-left: 80px solid transparent;
      }
    }

    @media screen and (min-width: 992px) {
      height: 104px;
  
      &:after {
        left: -103.5px;
        border-bottom: 104px solid $primary;
        border-left: 104px solid transparent;
      }
    }
  }

  &-bottom-left {
    position: relative;
    height: 40px;

    &:after {
      position: absolute;
      content: "";
      right: -39.5px;
      top: 0;
      width: 0;
      height: 0;
      border-top: 40px solid $primary;
      border-right: 40px solid transparent;
    }

    @media screen and (min-width: 576px) {
      height: 80px;
  
      &:after {
        right: -79.5px;
        border-top: 80px solid $primary;
        border-right: 80px solid transparent;
      }
    }

    @media screen and (min-width: 992px) {
      height: 104px;
  
      &:after {
        right: -103.5px;
        border-top: 104px solid $primary;
        border-right: 104px solid transparent;
      }
    }
  }
}