<nav class="position-fixed px-xl-80 py-xl-24 navbar navbar-expand-xl navbar-primary-dark bg-primary-dark">
    <div class="container-fluid">
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse m-24 ms-32 m-xl-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">最新消息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">徵件說明會</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">成果展</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">頒獎典禮</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">歷屆回顧</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
