//活動目的
//背景
.bg-purpose {
  background-image: url(../images/bg-purpose.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.purpose-content {
  font-size: 18px;
  line-height: 36px;
}

//流程圖
// 背景
.bg-process {
  background-image: url(../images/bg-process.svg);
}

.process-pic {
  &-01 {
    position: absolute;
    width: 80px;
    top: -48px;

    @media screen and (min-width: 576px) {
      width: 120px;
      top: -76px;
    }

    @media screen and (min-width: 992px) {
      width: 200px;
      top: -116px;
    }
  }

  &-02 {
    display: none;
    position: absolute;

    @media screen and (min-width: 768px) {
      display: block;
      width: 48px;
      left: 0;
      bottom: 0;
    }

    @media screen and (min-width: 992px) {
      width: 64px;
      left: 0;
      bottom: 0;
    }
  }

  &-03 {
    display: none;
    position: absolute;

    @media screen and (min-width: 768px) {
      display: block;
      width: 160px;
      right: 0;
      bottom: 80px;
    }

    @media screen and (min-width: 992px) {
      width: 200px;
      right: 0;
      bottom: 104px;
    }
  }
}

// 數字圓圈
.circle {
  position: relative;
  width: 78px;
  height: 78px;
  background-color: $white;
  border-radius: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 40px;
    color: $primary;
    font-weight: bold;
  }

  @media screen and (min-width: 992px) {
    width: 140px;
    height: 140px;

    p {
      font-size: 64px;
      color: $primary;
      font-weight: bold;
    }
  }
}

// 數字圓弧
.arc {
  position: absolute;
  bottom: -2px;
  left: -26px;
  /*半圓弧*/
  width: 96px;
  height: 48px;
  background-color: transparent;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 90px; /*增加了邊框，圓角半徑也要變化*/
  border-left: 4px solid $white; /*邊框左邊線*/
  border-right: 4px solid $white; /*邊框右邊線*/
  border-bottom: 4px solid $white; /*邊框底邊線*/
  transform: rotate(45deg);

  @media screen and (min-width: 992px) {
    bottom: -2px;
    left: -44px;
    width: 168px;
    height: 84px;
  }
}

// 流程標題
.process-title {
  font-size: 32px;
  color: $secondary;
  font-weight: bold;

  @media screen and (min-width: 992px) {
    font-size: 48px;
  }
}

//1 徵件流程
.submission {
  &-title {
    background-color: $white;
    padding: 6px 16px;
    border-radius: 1000px;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: $primary;
    letter-spacing: 2px;
  }
  &-dash {
    display: block;
    width: 4px;
    height: 790px;
    object-fit: cover;

    @media screen and (min-width: 992px) {
      height: 560px;
    }
  }
}

//2 參賽資格
.qual {
  &-title {
    position: relative;
    color: $secondary;
    font-size: 28px;

    &:before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      border: 2px solid $white;
      border-radius: 1000px;

      top: calc(50% - 6px);
      left: -20px;
    }
  }

  &-subtitle {
    font-size: 18px;
    color: $white;
    text-align: center;
    white-space: nowrap;
    padding: 4px 24px;
    border: 1px solid $white;
    border-radius: 1000px;
  }

  &-dash {
    display: block;
    width: 4px;
    height: 960px;
    object-fit: cover;

    @media screen and (min-width: 992px) {
      height: 600px;
    }
  }
}

//3 評選標準
.selection {
  &-subtitle {
    font-size: 18px;
    color: $white;
    text-align: center;
    white-space: nowrap;
    padding: 4px 48px;
    border: 1px solid $white;
    border-radius: 1000px;
  }

  &-dash {
    display: block;
    width: 4px;
    height: 520px;
    object-fit: cover;

    @media screen and (min-width: 992px) {
      height: 400px;
    }
  }
}
