<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-surface">
      <img
        class="d-none d-md-block img-fluid"
        src="../assets/images/banner-lg.svg"
        alt=""
      />
      <img
        class="d-block d-md-none img-fluid"
        src="../assets/images/banner-mobile.svg"
        alt=""
      />

      <!-- 活動目的 -->
      <div class="bg-purpose w-100 py-80 py-lg-160">
        <div class="container">
          <div class="row flex-row-reverse">
            <!-- 影片 -->
            <div class="col-12 col-lg-6">
              <img
                class="img-fluid mb-40 mb-lg-0"
                src="../assets/images/fakeVideo.png"
                alt=""
              />
            </div>

            <!-- 說明 -->
            <div class="col-12 col-lg-6">
              <!-- 標題 -->
              <div class="d-flex align-items-end mb-24 mb-lg-40">
                <img
                  class="me-16"
                  src="../assets/images/icon-purpose.svg"
                  alt="icon_purpose"
                />
                <h2 class="fs-48 fw-semibold text-primary-dark m-0">
                  活動目的
                </h2>
              </div>

              <!-- 內文 -->
              <p class="content text-gray-800 pe-lg-80 mb-40 mb-lg-80">
                國家科學及技術委員會為深化科普傳播效益及培養下一代科普人才，規劃辦理第二屆「Open
                Call科普創意松」短片徵件競賽及業師培力等系列活動，旨在鼓勵學生運用科學思維，創作科學創意影片、短影音，並藉由作品交流與業師培訓機制，輔導學生強化影片製作技巧、掌握數位影音趨勢，實現科普教育深耕校園與全民提升科學素養之目標。
              </p>

              <!-- 按鈕 -->
              <a href="#" class="btn-main">
                <div class="btn-main-body">
                  <p class="me-16">簡章下載</p>
                  <img src="../assets/images/triangle.svg" alt="" />
                </div>
                <div class="btn-main-outline"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 活動目的 -->
    </div>

    <!-- 流程圖 -->
    <div class="bg-process position-relative" style="z-index: -1;">
      <!-- 上面的梯形 -->
      <div class="w-100 bg-surface">
        <div
          class="trape-top-right w-50 bg-primary"
          style="height: 104px"
        ></div>
      </div>
      <!-- 上面的梯形 結束 -->

      <div class="container mx-auto pt-80 pt-lg-160 ">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <!-- 1 徵件流程 -->
            <div class="d-flex flex-column align-items-start ms-24 ms-lg-0">
              <!-- 標題 -->
              <div class="d-flex align-items-center">
                <div class="circle me-40 mb-16 mb-lg-40">
                  <p>1</p>
                  <div class="arc"></div>
                </div>
                <h2 class="process-title">徵件流程</h2>
              </div>
              <!-- 標題結束 -->

              <div class="d-flex">
                <!-- 虛線 -->
                <div
                  class="d-flex flex-column align-items-center me-24 me-lg-80 ms-lg-48"
                >
                  <div
                    class="border border-4 border-white rounded-circle bg-secondary"
                    style="width: 24px; height: 24px"
                  ></div>
                  <img
                    class="submission-dash"
                    src="../assets/images/process-dash.svg"
                    alt=""
                  />
                </div>
                <!-- 虛線結束 -->

                <!-- 內文 -->
                <div class="mt-40 mt-lg-0">
                  <div
                    class="d-flex flex-column flex-lg-row align-items-lg-center mb-40"
                  >
                    <p class="submission-title">報名</p>
                    <p class="fs-20 text-white mt-16 mt-lg-0 ms-lg-16">
                      即日起至2024/10/31下午5時為止
                    </p>
                  </div>

                  <div
                    class="d-flex flex-column flex-lg-row align-items-lg-center mb-40"
                  >
                    <p class="submission-title">初審</p>
                    <p class="fs-20 text-white mt-16 mt-lg-0 ms-lg-16">
                      預計2024年11月上旬
                    </p>
                  </div>

                  <div
                    class="d-flex flex-column flex-lg-row align-items-lg-center mb-40"
                  >
                    <p class="submission-title">入圍團隊資料繳交</p>
                    <p class="fs-20 text-white mt-16 mt-lg-0 ms-lg-16">
                      預計2024年11月中旬
                    </p>
                  </div>

                  <div
                    class="d-flex flex-column flex-lg-row align-items-lg-center mb-40"
                  >
                    <p class="submission-title">複審</p>
                    <p class="fs-20 text-white mt-16 mt-lg-0 ms-lg-16">
                      預計2024年11月下旬
                    </p>
                  </div>

                  <div
                    class="d-flex flex-column flex-lg-row align-items-lg-center mb-40"
                  >
                    <p class="submission-title">公告獲獎名單</p>
                    <p class="fs-20 text-white mt-16 mt-lg-0 ms-lg-16">
                      2024年12月上旬
                    </p>
                  </div>

                  <div
                    class="d-flex flex-column flex-lg-row align-items-lg-center mb-40"
                  >
                    <p class="submission-title">頒獎典禮暨成果展示</p>
                    <p class="fs-20 text-white mt-16 mt-lg-0 ms-lg-16">
                      2024年12月下旬
                    </p>
                  </div>
                </div>
                <!-- 內文結束 -->
              </div>
            </div>
            <!-- 徵件流程 結束 -->

            <!-- 2 參賽資格 -->
            <div class="d-flex flex-column align-items-start ms-24 ms-lg-0">
              <!-- 標題 -->
              <div class="d-flex align-items-center">
                <div class="circle me-40 mb-16 mb-lg-40">
                  <p>2</p>
                  <div class="arc"></div>
                </div>
                <h2 class="process-title">參賽資格</h2>
              </div>
              <!-- 標題結束 -->

              <div class="d-flex">
                <!-- 虛線 -->
                <div
                  class="d-flex flex-column align-items-center me-24 me-lg-80 ms-lg-48"
                >
                  <div
                    class="border border-4 border-white rounded-circle bg-warning"
                    style="width: 24px; height: 24px"
                  ></div>
                  <img
                    class="qual-dash"
                    src="../assets/images/process-dash.svg"
                    alt=""
                  />
                </div>
                <!-- 虛線結束 -->

                <!-- 內文 -->
                <div>
                  <p class="fs-18 text-white mt-40 mt-lg-0 mb-40">
                    國內高中職校、大專院校（含專科學校及碩博士生）在學學生，不限就讀科系、年級，皆可以個人或團隊組隊方式參賽，可跨校或跨科系組隊，惟不開放跨學籍組隊報名。
                  </p>
                  <!-- 學籍 -->
                  <div class="mb-40 mb-md-80">
                    <p class="qual-title ms-20 mb-24">學籍</p>
                    <div
                      class="d-flex flex-column flex-md-row align-items-md-center mb-24 mb-lg-40"
                    >
                      <p class="qual-subtitle mb-8 mb-md-0 me-md-16">
                        高中職組
                      </p>
                      <p class="fs-18 text-white">
                        全國各公、私立高級中學、高級職業學校之在學學生。
                      </p>
                    </div>
                    <div
                      class="d-flex flex-column flex-md-row align-items-md-center"
                    >
                      <p class="qual-subtitle mb-8 mb-md-0 me-md-16">
                        大專院校組
                      </p>
                      <p class="fs-18 text-white">
                        全國各公、私立大學、科技大學、獨立學院、碩博士班、專科學校、四技及二技之在學學生。
                      </p>
                    </div>
                  </div>

                  <!-- 作品類型 -->
                  <div class="mb-40 mb-md-80">
                    <p class="qual-title ms-20 mb-24">作品類型</p>
                    <div
                      class="d-flex flex-column flex-md-row align-items-md-center mb-24 mb-lg-40"
                    >
                      <p class="qual-subtitle mb-8 mb-md-0 me-md-16">
                        短影音組
                      </p>
                      <p class="fs-18 text-white">
                        組隊人數上限2人，需推派一位為報名團隊代表人。
                      </p>
                    </div>
                    <div
                      class="d-flex flex-column flex-md-row align-items-md-center mb-24 mb-lg-40"
                    >
                      <p class="qual-subtitle mb-8 mb-md-0 me-md-16">
                        科學影片組
                      </p>
                      <p class="fs-18 text-white">
                        組隊人數上限5人，需推派一位為報名團隊代表人，並可額外指定一位指導老師，
                        指導老師不列入組隊上限人數計算。
                      </p>
                    </div>
                  </div>
                </div>
                <!-- 內文結束 -->
              </div>
            </div>
            <!-- 參賽資格 結束 -->

            <!-- 3 評選標準 -->
            <div class="d-flex flex-column align-items-start ms-24 ms-lg-0">
              <!-- 標題 -->
              <div class="d-flex align-items-center">
                <div class="circle me-40 mb-16 mb-lg-40">
                  <p>3</p>
                  <div class="arc"></div>
                </div>
                <h2 class="process-title">評選標準</h2>
              </div>
              <!-- 標題結束 -->

              <div class="d-flex">
                <!-- 虛線 -->
                <div
                  class="d-flex flex-column align-items-center me-24 me-lg-80 ms-lg-48"
                >
                  <div
                    class="border border-4 border-white rounded-circle bg-danger"
                    style="width: 24px; height: 24px"
                  ></div>
                  <img
                    class="selection-dash"
                    src="../assets/images/process-dash.svg"
                    alt=""
                  />
                </div>
                <!-- 虛線結束 -->

                <!-- 內文 -->
                <div class="mt-40 mt-lg-0">
                  <div
                    class="d-flex flex-column flex-md-row align-items-md-center mb-24 mb-lg-40"
                  >
                    <p class="selection-subtitle mb-16 mb-md-0 me-md-16">
                      初審
                    </p>
                    <p class="fs-18 text-white">
                      依本徵件活動簡章相關規定，進行參賽作品資格審查；資料未齊、主題不符，或違反公共秩序、善良風俗或損及機關形象之參賽作品，視為資格不符。
                    </p>
                  </div>
                  <div
                    class="d-flex flex-column flex-md-row align-items-md-center mb-24 mb-lg-40"
                  >
                    <p class="selection-subtitle mb-16 mb-md-0 me-md-16">
                      複審
                    </p>
                    <p class="fs-18 text-white">
                      依本徵件活動簡章之評選標準，邀請媒體傳播領域、科學專業領域業師、學者，進行參賽作品評分與審查。
                    </p>
                  </div>
                </div>
                <!-- 內文結束 -->
              </div>
            </div>
            <!-- 評選標準 結束 -->
          </div>
        </div>
      </div>

      <!-- 下面的梯形 -->
      <!-- 要讓虛線觸底 -->
       <div class="w-100 bg-surface position-absolute bottom-0 left-0" style="z-index: -1;">
        <div
          class="trape-bottom-left w-50 bg-primary"
          style="height: 104px"
        ></div>
       </div>
      <!-- 下面的梯形 結束 -->
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
